$mdi-filename: "materialdesignicons";
$mdi-font-name: "Custom Material Design Icons";
$mdi-font-family: "materialdesignicons";
$mdi-font-weight: "normal";
$mdi-font-path: "https://cdn.jsdelivr.net/npm/@mdi/font@latest/fonts" !default;
$mdi-font-size-base: 24px !default;
$mdi-css-prefix: mdi !default;
$mdi-version: "5.9.55" !default;
@font-face {
  font-family: "#{$mdi-font-name}";
  src: url("#{$mdi-font-path}/#{$mdi-filename}-webfont.eot?v=#{$mdi-version}");
  src: url("#{$mdi-font-path}/#{$mdi-filename}-webfont.eot?#iefix&v=#{$mdi-version}")
      format("embedded-opentype"),
    url("#{$mdi-font-path}/#{$mdi-filename}-webfont.woff2?v=#{$mdi-version}")
      format("woff2"),
    url("#{$mdi-font-path}/#{$mdi-filename}-webfont.woff?v=#{$mdi-version}")
      format("woff"),
    url("#{$mdi-font-path}/#{$mdi-filename}-webfont.ttf?v=#{$mdi-version}")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.theme--custom {
  .#{$mdi-css-prefix}:before,
  .#{$mdi-css-prefix}-set {
    display: inline-block;
    font: normal normal normal #{$mdi-font-size-base}/ 1 "#{$mdi-font-name}"; // shortening font declaration
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.page-menu {
  margin-bottom: 20px;
  --scale: 0.9 !important;
}

@media (max-width: 960px) {
  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--background);
    line-height: 84px;
    z-index: 2;
  }
}
